.panel {
	--transition-duration: 1s;
	--transition-timing-function: ease-in-out;
	--element-offset: -50px;
	
	position: relative;
	z-index: 100;
	
	.transition-element {
		position: relative;
		top: 1vw;
		opacity: 0;
	}
	
	&.animation-running {
		
		.transition-element {
			opacity: 1;
			top: 0;
			transition:
				opacity var(--transition-duration) var(--transition-timing-function),
				top var(--transition-duration) var(--transition-timing-function);
		}	
		
		.transition-delay-1 {
			transition-delay: 500ms !important;
		}
		
		.transition-delay-2 {
			transition-delay: 1000ms !important;
		}
		
		.transition-delay-3 {
			transition-delay: 1500ms !important;
		}
		
		.transition-delay-4 {
			transition-delay: 2000ms !important;
		}
		
		.transition-delay-5 {
			transition-delay: 2500ms !important;
		}
	}
}