.footer {
	background: $off-black;
	
	@include mq('desktop') {
		padding-top: 143px;
		padding-bottom: 138px;
	}
	
	.container {
		max-width: none;
		
		@include mq('desktop') {
			padding-inline: 223px;
		}
	}
	
	.heading {
		@include font_script();
		color: $light-gold;
		text-shadow: 0 0 105px $light-gold;
		font-style: normal;
		font-weight: 400;
		
		@include mq('desktop') {
			font-size: 50px;
			line-height: 35px; 
			margin-bottom: 46px;
		}
	}
	
	.columns {
		display: grid;
		
		@include mq('desktop') {
			grid-template-columns: 1fr 1fr;
			gap: 0;
		}
		
		.column {
			
		}
		
		.column-menus {
			
			@include mq('desktop') {
				order: 2;
			}
			
			.menu-surround {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				gap: 40px;
				
				ul {
					text-align: center;
					
					li {
						a {
							color: $off-white;
							
							@include mq('desktop') {
								font-size: 18px;
								line-height: 56px;
								letter-spacing: 0.9px;
							}
						}
					}
				}
			}
			
			.desktop-menus {
				
				@include mq('desktop', 'max') {
					display: none;
				}
			}
			
			.mobile-menus {
				
				@include mq('desktop') {
					display: none;
				}
			}
		}
		
		.column-form {
			
			@include mq('desktop') {
				order: 1;
				max-width: 434px;
			}
			
			.mailing-list-form {
				
				.form-row {
					display: flex;
					justify-content: space-between;
					gap: 20px;
					margin-bottom: 15px;
					
					input {
						flex: 1;
						width: 100%;
						height: 47px;
						padding: 10px 20px;
						background: transparent url('../images/form-field.png') center center / 100% 100% no-repeat;
						color: $dark-green;
						text-shadow: 0 0 105px $light-gold;
						font-size: 13px;
						line-height: 35px;
						letter-spacing: 1px;
						border: none;
						
						&:focus-visible {
							outline: none;
						}
					}
				}
			}
			
		}
	}
}

.footer-credits {
	background: $off-black;

	@include mq('desktop') {	
		padding-bottom: 130px;
	}
	
	.container {
		max-width: none;
		
		@include mq('desktop') {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding-inline: 223px;
		}
	}	
	
	.author {
		color: inherit;
	}
}