.footer {
	background: $off-black;
	padding-top: 67px;
	
	@include mq('desktop', 'max') {
		text-align: center;
	}
	
	@include mq('desktop') {
		padding-top: 143px;
		padding-bottom: 138px;
	}
	
	.container {
		max-width: none;
		
		@include mq('desktop') {
			padding-inline: 223px;
		}
	}
	
	.heading {
		@include font_script();
		font-size: 50px;
		line-height: 43px; 
		font-style: normal;
		font-weight: 400;
		color: $light-gold;
		text-shadow: 0 0 105px $light-gold;
		margin-bottom: 45px;
		
		@include mq('desktop') {
			line-height: 35px; 
		}
	}
	
	.divider {
		display: none;
		
		@include mq('desktop', 'max') {
			display: inline-block;
			margin-top: 40px;
		}
	}
	
	.columns {
		display: grid;
		
		@include mq('desktop') {
			grid-template-columns: 1fr 1fr;
			gap: 0;
		}
		
		.column {
			
		}
		
		.column-menus {
			
			@include mq('desktop') {
				order: 2;
			}
	
			.footer-mobile-menu {
				flex: 1;
			}
			
			.menu-surround {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				gap: 40px;
				
				ul {
					text-align: center;
					
					li {
						a {
							font-size: 16px;
							line-height: 43px;
							color: $off-white;
							letter-spacing: 1px;
							
							@include mq('desktop') {
								font-size: 18px;
								line-height: 56px;
							}
						}
					}
				}
			}
			
			.desktop-menus {
				
				@include mq('desktop', 'max') {
					display: none;
				}
			}
			
			.mobile-menus {
				
				@include mq('desktop') {
					display: none;
				}
			}
		}
		
		.column-form {
			
			@include mq('desktop') {
				order: 1;
				max-width: 434px;
			}
			
			.heading {
				
				@include mq('desktop', 'max') {
					margin-top: 52px;
					margin-bottom: 45px;
					margin-inline: 30px;
				}
			}
			
			.mailing-list-form {
				
				.form-row {
					display: flex;
					flex-direction: column;
					gap: 15px;
					margin-bottom: 15px;
					
					@include mq('desktop') {
						flex-direction: row;
						justify-content: space-between;
						gap: 20px;
					}
					
					input {
						width: 100%;
						height: 63px;
						padding: 10px 20px;
						background: transparent url('../images/form-field.png') center center / 100% 100% no-repeat;
						color: $dark-green;
						text-shadow: 0 0 105px $light-gold;
						font-size: 18px;
						line-height: 35px;
						letter-spacing: 1px;
						border: none;
						
						@include placeholder() {
							opacity: 1;
							color: $dark-green;
						}
						
						@include mq('desktop', 'max') {
							text-align: center;
						}
						
						@include mq('desktop') {
							height: 47px;
							font-size: 13px;
							flex: 1;
						}
						
						&:focus-visible {
							outline: none;
						}
					}
					
					.button {
						
						@include mq('desktop', 'max') {
							margin-top: 20px;
						}
					}
				}
			}
			
		}
	}
}

.footer-credits {
	background: $off-black;
	
	@include mq('desktop', 'max') {
		text-align: center;
		padding-top: 63px;
		padding-bottom: 100px;
	}

	@include mq('desktop') {	
		padding-bottom: 130px;
	}
	
	.logo {
		
		@include mq('desktop', 'max') {
			order: 1;
		}
		
		&,
		img {
			display: inline-block;
		}
	}
	
	a {
		display: inline-block;
	}
	
	.container {
		max-width: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		@include mq('desktop') {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding-inline: 223px;
		}
	}	
	
	.copyright {
		
		@include mq('desktop', 'max') {
			order: 2;
			margin-top: 30px;
		}
	}
	
	.author {
		color: inherit;
		
		@include mq('desktop', 'max') {
			order: 3;
			margin-top: 13px;
		}
	}
}