html, 
body {
	overscroll-behavior-y: none;
	scroll-behavior: smooth;
}

body {
	background: $green;
	overflow-x: hidden;
}

.wrapper,
.page-wrapper {
	overflow-x: hidden;
}

.page-background {
	position: relative;
	z-index: 1000;
	background: linear-gradient(180deg, #000000 0%, $green 5%);
	
	@include mq('desktop') {
		background: linear-gradient(180deg, #0A0D0C 0%, $green 50%);
	}
}

.page-content,
.page-background {
	
	.panel:last-child {
		margin-bottom: 0;
	}
}

.container {
	margin: 0 auto;
	padding-inline: 20px;
	
	@include mq('tablet') {
		padding-inline: 40px;
	}
	
	@include mq('desktop') {
		max-width: calc(980px + 420px);
		padding-inline: 210px;
	}
	
	&.container-wide {
		
		@include mq('desktop') {
			max-width: calc(1620px + 300px);
			padding-inline: 150px;
		}
	}
}

.announcement-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 9950;
	background-color: $green;
	font-size: 12px;
	line-height: 16px;
	padding-block: 38px;
	
	@include mq('desktop') {
		padding-block: 50px;
		font-size: 18px;
		line-height: 24px;
	}
	
	@include mq('xl') {
		font-size: 22px;
		line-height: 35px;
		letter-spacing: 1px;
	}
	
	.container {
		display: flex;
		justify-content: center;
		gap: 25px;
		align-items: center;
		
		@include mq('desktop', 'max') {
			min-height: 64px;
		}
	}
	
	a {
		font-weight: 600;
		color: inherit;
	}
	
	img {
		--icon-size: 30px;
		
		flex: 0 0 var(--icon-size);
		width: var(--icon-size);
		height: var(--icon-size);
	}
	
	.mobile-menu-toggle {
		margin-top: 0;
		margin-left: 40px;
		
		@include mq('desktop') {
			margin-left: 129px;
		}
	}
}

.panel {
	margin-top: var(--mobile-margin-top, 0);
	margin-bottom: var(--mobile-margin-bottom, 100px);
	padding-top: var(--mobile-padding-top, 0);
	padding-bottom: var(--mobile-padding-bottom, 0);
	
	@include mq('tablet') {
		margin-top: var(--tablet-margin-top, 0);
		margin-bottom: var(--tablet-margin-bottom, 150px);
		padding-top: var(--tablet-padding-top, 0);
		padding-bottom: var(--tablet-padding-bottom, 0);
	}
	
	@include mq('desktop') {
		margin-top: var(--desktop-margin-top, 0);
		margin-bottom: var(--desktop-margin-bottom, 200px);
		padding-top: var(--desktop-padding-top, 0);
		padding-bottom: var(--desktop-padding-bottom, 0);
	}	
	
	.panel-header {
		margin-bottom: 50px;
		
		@include mq('tablet') {
			margin-bottom: 65px;
		}
		
		@include mq('desktop') {
			margin-bottom: 85px;
		}
		
		@include mq('desktop') {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
		}
		
		.button {
			margin-left: auto;
			
			@include mq('desktop', 'max') {
				display: none;
			}
		}
	}
	
	.panel-footer {
		text-align: center;
		margin-top: 17px;
		
		@include mq('desktop') {
			display: none;
		}
		
		.button {
			
			@include mq('tablet', 'max') {
				width: 100%;
			}
		}
	}
}

/* GLightbox */

.gslider {
	
	.glightbox-container .ginner-container {
		max-width: 80%;
	}
	
	.gbtn.disabled {
		display: none;
	}
	
	.gslide-inline {
		background: #090D0C;
		color: $white;
		text-align: left;
		filter: drop-shadow(0 0 100px rgba(255,200,123, 0.5)); //Gold
		
		.ginlined-content {
			padding: 30px 40px;
			
			@include mq('desktop') {
				padding: 75px;
			}
		}
		
		.inline-inner {
			display: grid;
			gap: 75px;
			justify-items: flex-start;
		}
		
		.heading {
			@include font_decorative();
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 0;
			color: $light-gold;
			text-align: left;
			
			@include mq('desktop') {
				font-size: 42px;
				line-height: 30px;
				letter-spacing: 2.6px;
			}
		}
		
		.content {
			display: grid;
			gap: 20px;
			
			em {
				font-size: 16px;
				line-height: 20px;
				
				@include mq('desktop') {
					font-size: 18px;
					line-height: 26px;
				}
			}
			
			h1, h2, h3, h4, h5, h6 {
				@include font_decorative();
				font-size: 18px;
				line-height: 26px;
				font-style: normal;
				font-weight: 400;
				letter-spacing: 1px;
				text-transform: lowercase;
				margin-bottom: 0;
				
				@include mq('desktop') {
					font-size: 20px;
					line-height: 40px;
				}
			}
			
			ul {
				list-style-type: inherit;
				margin-left: 1em;
			}
		}
		
		.inline-close-btn {
			display: block;
			color: #090D0C;
			text-align: center;
			@include font_decorative();
			font-size: 24px;
			line-height: 24px;
			letter-spacing: 1px;
			padding: 10px;
			background-color: $light-gold;
			text-decoration: none;
			width: 100%;
			
			@include mq('desktop') {
				padding: 20px 40px;
				font-size: 24px;
				line-height: 24px;
			}
			
			&:hover {
				opacity: 0.75;
			}
		}
	}
}

.slider-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: 30px;
	padding: 0 30px;
	
	.slider-arrow {
		@include transition();
		display: inline-block;
		background: url('../svg/slider-arrow.svg') center center / contain no-repeat;
		text-indent: -99999px;
		opacity: 0.5;
		
		@include mq('desktop', 'max') {
			flex: 0 0 44px;
			width: 44px;
			height: 36px;
		}
		
		@include mq('desktop') {
			position: absolute;
			bottom: calc(50% - 32px);
			width: 76px;
			height: 64px;
		}   
		
		&.slider-arrow-prev {
			transform: rotate(180deg);
			
			@include mq('desktop') {
				left: -146px;
			}   
		}
		
		&.slider-arrow-next {
			
			@include mq('desktop') {
				right: -146px;
			}   
		}
		
		&:hover {
			opacity: 1;
		}
	}
	
	.divider {
		position: relative;
		top: 5px;
		max-width: 193px;
		
		@include mq('tablet') {
			max-width: 250px;
		} 
		
		svg {
			display: block;
		}
		
		@include mq('desktop') {
			display: none;
		}  
	}
}


/* Product */

.woocommerce {
	
	.panel-woocommerce {
		overflow: hidden;
		
		.back-link {
			display: block;
			margin-bottom: 60px;	
		}
	}
	
	div.product {
		display: grid;
		gap: 95px;
		
		@include mq('desktop') {
			grid-template-columns: 1fr 1fr;
		}  
		
		div.summary,
		div.images {
			float: none;
			width: auto;
			margin: 0;
		}
		
		div.images {
			
			img {
				aspect-ratio: 784 / 632;
			}
		}
		
		.product_title,
		p.price {
			@include font_decorative();
			color: $light-gold;
			font-weight: 400;
			font-size: 26px;
			line-height: 35px;
			letter-spacing: 10px;
			
			@include mq('desktop') {
				font-size: 40px;
				line-height: 45px;
			}
		}
		
		.product_title {
			margin-bottom: 26px;
		}
		
		p.price {
			margin-top: 26px;
			color: $off-white;
			
			del {
				opacity: 1;
			}
			
			ins {
				font-weight: 400;
				text-decoration: none;
			}
		}
		
		.heading-7 {
			margin-top: 30px;
			padding-bottom: 12px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.25);
		}
		
		.content,
		.woocommerce-product-details__short-description {
			margin-top: 9px;
		}
		
		form.cart div.quantity {
			float: none;
			margin-top: 36px;
			
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 20px;
			color: $light-gold;
			
			button {
				color: $light-gold;
				font-size: 25px;
				line-height: 35px;
				letter-spacing: 5px;
			}
			
			.qty {
				background-color: transparent;
				appearance: none;
				display: flex;
				max-height: 65px;
				padding: 13px 25px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border-radius: 124.5px;
				border: 1px solid $light-gold;
				
				@include font_decorative();
				color: $light-gold;
				text-align: center;
				font-size: 23px;
				line-height: 72px;
				letter-spacing: 5.75px;
				font-weight: 400;
				width: 100px;
			}
			
			input[type='number'] {
				-moz-appearance:textfield;
			}
			
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}
		
		.single_add_to_cart_button {
			margin-top: 39px;
		}
	}
	
	.related {
		clear: both;
		margin-top: 193px;
		
		ul.products li.product .button {
			display: none;
		}
	}
	
	ul.products li.product {
		
		.woocommerce-loop-product__title {
			padding: 0;
			margin: 62px 0 14px;
		}
		
		.price {
			color: $off-white;
			
			del {
				color: #A20F0F;
				opacity: 1;
			}
			
			ins {
				font-weight: 400;
				text-decoration: none;
			}
		}
		
		img {
			aspect-ratio: 784 / 632;
		}
		
		.button {
			min-height: 0;
			line-height: 39px;
			margin-top: 41px;
		}
	}
	
	.woocommerce-message {
		border: 1px solid $light-gold;
		background-color: $dark-gold;
		margin-bottom: 60px;
		
		&,
		&::before {
			color: $black;
		}
		
		.button {
			border-color: $green;
			color: $green;
			
			&:hover {
				opacity: 0.75;
				background-color: transparent;	
				color: inherit;
			}
		}
	}
}

.flex-control-nav {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 170px;
	left: 0;
	right: 0;
	gap: 18px;
	
	li {
		line-height: 1;
		
		a {
			border: 2px solid $off-white;
			width: 21px;
			height: 21px;
			display: inline-block;
			border-radius: 50%;
			text-indent: -99999px;
			
			&.flex-active {
				background-color: $off-white;
			}
		}
	}
}

/* Events */

.single-event {
	
	.page-content .panel-50-50:first-child {
		padding-top: 340px;
		
		.heading {
			margin-bottom: 20px;
			color: $off-white;
			text-shadow: 0 0 105px $light-gold;
		}
		
		.button {
			margin-bottom: 60px;
		}
		
		.container {
			padding-right: 150px;
		}
		
		.columns .column-media {
			margin-right: 0;
		}
		
		.columns .column.column-content .inner {
			text-align: left;
			color: $off-white;
			
			.info {
				justify-content: flex-start;
				
				svg {
					path {
						stroke: $off-white;
					}
				}
			}
			
			.divider {
				margin-inline: 0;
			}
		}
	}
}