*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: normal;
}

form *,
input,
button,
select {
	font-family: inherit;
}

ul {
	list-style: none;
	
	li {
		line-height: 1;
	}
}

button,
input[type="submit"] {
	border: none;
	appearance: none;
	cursor: pointer;
	background: transparent;
}