<style>
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lavishly+Yours&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
</style>

/* body {
	font-family: "Outfit", sans-serif;
	leading-trim: both;
	text-edge: cap;
	-webkit-text-size-adjust: 100%;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.2px;
}

.signature {
	font-family: "Reenie Beanie", serif;
	font-size: 45px;
	font-weight: 500;
	line-height: 125%;
	letter-spacing: -2px;
}

.large-text {
	font-size: 26px;
	font-weight: 500;
	line-height: 125%;
}

a,
strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	color: #0A404C;
} */