.event-card {
	position: relative;
	text-align: center;
	padding-top: 48px;
	
	@include mq('desktop') {
		padding-top: 74px;
	}
	
	&,
	.heading {
		color: $dark-green;
	}
	
	.masked {
		position: absolute;
		left: 0;
		right: 0;
		width: calc(100% - 120px);
		height: 254px;
		margin: -48px auto 0;
		aspect-ratio: 275 / 254px;
		max-width: 275px;
		
		@include mq('desktop') {
			aspect-ratio: 348 / 330;
			height: 330px;
			max-width: 348px;
			margin-top: -74px;
		}
		
		img {
			height: 100%;
			width: 100%;
		}
	}
	
	.inner {
		background: transparent url('../images/event-card.png') bottom center / 100% 100% no-repeat;
		padding: 226px 30px 60px;
		
		@include mq('desktop') {
			padding-top: 282px;
		}
	}
	
	.date {	
		margin-top: 20px;
	}
	
	.button {
		margin-top: 30px;
		border-radius: 124.5px;
		border: 1px solid $dark-gold;
		background: $dark-gold;
		color: $dark-green;
		
		@include mq('desktop', 'max') {
			width: auto;
		}
	}
}

.info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin-top: 12px;
	
	@include mq('desktop') {
		flex-direction: row;
		gap: 22px;
	}
	
	.age-range {
		display: flex;
		justify-content: center;
		gap: 12px;
		align-items: center;
	}
	
	.price {
		display: flex;
		justify-content: center;
		gap: 8px;
		align-items: center;
	}
}