.panel-quick-action {
    
    .container {
        max-width: 1053px;
        
        @include mq('desktop') {
            padding-inline: 0;
        }
    }
    
    .popup-icons {
        background: transparent url('../images/quick-action-frame-mobile.png') top center / contain no-repeat;
        
        display: flex;
        justify-content: space-around;;
        align-items: center;
        padding: 20px 30px 0;
        aspect-ratio: 399 / 215;
        
        @include mq('tablet') {
            padding: 100px 60px 70px;
            width: 100%;
            background-image: url('../images/quick-action-frame.png');
            background-size: 100% 100%;
            aspect-ratio: 1076 / 355;
        }
        
        @include mq('desktop') {
            padding-inline: 120px;
        }
        
        .popup-icon {
            @include transition();
            opacity: 0.5;
            text-align: center;
            
            @include mq('desktop') {
                flex: 0 0 195px;
            }
            
            picture {
                display: grid;
				place-items: center;
                height: 41px;
                
                @include mq('tablet') {
                    height: 60px;
                }
            }
            
            .heading {
                display: block;
                color: $light-gold;
                max-width: 100px;
                margin-top: 16px;
                
                @include mq('desktop') {
                    max-width: 195px;
                    margin-top: 26px;
                }
                
                .mobile-text {
                    
                    @include mq('tablet') {
                        display: none;
                    }
                }
                
                .tablet-text {
                    display: none;
                    
                    @include mq('tablet') {
                        display: block;
                    }
                }
            }
            
            &:hover {
                opacity: 1;
				
				.heading {
					text-shadow: 0 0 50px $light-gold;
				}
            }
        }
    }
    
    .divider {
        text-align: center;
        
        &.mobile-divider {
            margin: 40px auto; 
            
            @include mq('tablet') {
                display: none;
            }  
        }
        
        &.tablet-divider {
            margin: 63px auto 153px; 
            
            @include mq('tablet', 'max') {
                display: none;
            }    
        }
    }
}