.panel-50-50 {
    position: relative;

    .container {
        
        @include mq('desktop') {
            max-width: none;
        }
        
    }
    
    .columns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 64px;
		
        @include mq('tablet') {
            grid-template-columns: 1fr 1fr;
        }
        
        .column {
            position: relative;
            
            &.column-content {
                display: grid;
                place-items: center;
                
                .inner {
                    max-width: 642px;
                    text-align: center;
                }
            }
            
            &.column-media {
				
                .media-frame {
                    width: min(944px, 100%);
                    aspect-ratio: 944 / 957;
                    border-radius: 10000px;
                    overflow: hidden;
                    position: relative;
                    
                    @include mq('desktop') {
						width: min(944px, 48vw);
						max-width: 944px;
                	}
					
					img,
					video {
						width: 100%;
						height: 100%;
						object-fit: cover;
						display: block;
					}
                }
            }
        }
    }
    
    .heading {
        
    }

    .content {
        margin-top: 36px;
    }

    .button {
        margin-top: 50px;
    }

    .image {
        
    }

    .video {
        
    }
    
    .divider {
        margin-top: 50px;
		max-width: 255px;

		@include mq('desktop', 'max') {
			display: none;
		}
    }

    .circle-orientation {
        
    }
    
    &.panel-align-left {
        
        .container {
            
            @include mq('desktop') {
                padding-left: 0;
            }
        }
        
        .columns {
            
            @include mq('desktop') {
                gap: 146px;
            }
            
            .column-content {
                
				@include mq('tablet') {
					order: 2;
				}
            }
            
            .column-media {
                
                @include mq('tablet') {
                    order: 1;
                }
                
                @include mq('desktop') {
                    margin-left: -125px;
                }
            }
        }
        
        &.panel-show-stars {
            
            &::after {
                position: absolute;
                content: "";
                top: 128px;
                right: -52px;
                width: 156px;
                height: 175px;
                z-index: 10;
                background: transparent url('../svg/star-5.svg') 0 0 / contain no-repeat;
            }	
            
            .column-media {
                
                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 125px;
                    width: 334px;
                    height: 373px;
                    z-index: 10;
                    background: transparent url('../svg/star-4.svg') 0 0 / contain no-repeat;
                }	
            }
        }
    }
    
    &.panel-align-right {
        
        .container {
            
            @include mq('desktop') {
                padding-right: 0;
            }
        }
        
        .columns {
            
            @include mq('desktop') {
                gap: 195px;
            }
            
            .column-content {
                
                @include mq('tablet') {
					order: 1;
				}
            }
            
            .column-media {
                
                @include mq('tablet') {
                    order: 2;
                }
                
                @include mq('desktop') {
                    margin-right: -125px;
                }
            }
        }
		
		&.panel-show-stars {
			
			.column-media {
				
				&::before {
					position: absolute;
					content: "";
					top: 0;
					left: 39px;
					width: 299px;
					height: 336px;
					z-index: 10;
					background: transparent url('../svg/star-3.svg') 0 0 / contain no-repeat;
				}	
			}
		}
    }
}