.panel-quick-action {

    .popups {
        
        .popup {
            
            .image {
                
            }

            .heading {
                
            }

            .content {
                
            }

        }

    }

}