.panel-two-column-content {

    .columns {
        
        .one-column {
            
            .heading {
                
            }

            .content {
                
            }

        }

        .two-columns {
            
            .heading {
                
            }

            .content-1 {
                
            }

            .content-2 {
                
            }

        }

    }

}