.panel-animal-stories {
    text-align: center;
    
    .container > .heading {
        margin-bottom: 170px;
        
        @include mq('desktop') {
            margin-bottom: 200px;
        }   
    }
    
    .slider-container {
        position: relative
    }
    
    .slick-list {
        overflow: visible;
    }

    .stories-nav {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: center;
        max-width: 800px;
        margin: 0 auto 40px;
        
        @include mq('desktop', 'max') {
            display: none;
        }   
        
        .story-button {
            opacity: 0.5;
            
            &.is-active,
			&:hover {
                opacity: 1;
                filter: drop-shadow(0 0 10px $light-gold); 
            }
            
            &:nth-child(2) {
                margin-right: auto;
            }
            
            &:nth-child(3) {
                margin-left: auto;
            }
        }
        
        .story-button,    
        .icon {
            display: inline-block;
            width: 60px;
            height: 60px;
            object-fit: contain;
        }
    }
    
    .stories {
        
        .story {
            position: relative;
            color: $dark-green;
			background: transparent url('../images/animal-stories.png') center center / 100% 100% no-repeat;
			padding: 60px 34px 84px;
			
			@include mq('desktop') {
				padding: 100px 90px 96px;
			}
			
			.inner {
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				padding: 100px 0 0;
				
				@include mq('desktop') {
					padding: 263px 0 0;
				}
			}
            
            .media-frame {
                position: absolute;
                top: -110px;
                left: calc(50% - 117.5px);
                
                @include mq('desktop') {
                    top: -170px;
                    left: calc(50% - 226px);
                }
                
                &,
                img,
                video {
                    width: 235px;
                    height: 226px;
                    
                    @include mq('desktop') {
                        width: 452px;
                        height: 495px;
                    }   
                }
				
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					z-index: 10;
					width: 166px;
					height: 185px;
					background: transparent url('../svg/stars-animal-stories.svg') center center / contain no-repeat;
				}
            }
			
			&.story-star-position-left {
				
				.media-frame::before {
					left: 0;
					right: auto;
				}
			}
			
			&.story-star-position-right {
				
				.media-frame::before {
					left: auto;
					right: 0;
				}
			}

            .heading {
                color: $dark-green;
            }

            .content {
                margin-top: 10px;
                line-height: 28px;
                
                @include mq('desktop') {
                    margin-top: 30px;
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: 0.6px;
                }   
            }
        }
    }
}