.panel-code-embed {
    text-align: center;
    
    .frame-border {
        border: 1px solid $light-gold;
        padding: 20px;
        
        @include mq('desktop') {
            padding: 66px 100px;
        }
    }
}