.panel-two-column-content {
    
    .heading {
        margin-bottom: 40px;
    }
    
    .container > .heading:not(:first-child) {
        margin-top: 80px;
    }
    
    .content {
        
        h1, h2, h3, h4, h5, h6 {
            @include font_decorative();
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 1px;
            font-weight: 400;
            margin-bottom: 0;
        }
        
        a {
            font-weight: 800;
        }
    }
    
    .columns {
        display: grid;
        gap: 40px;
        
        @include mq('desktop') {
            grid-template-columns: 1fr 1fr;
            gap: 64px;
        }
    }

}