.panel-key-info {

    .tabs {
        
        .opening-times {
            
            .heading {
                
            }

            .content {
                
            }

        }

        .directions {
            
            .heading {
                
            }

            .columns-wrapper {
                
                .icon {
                    
                }

                .heading {
                    
                }

                .content {
                    
                }

                .buttons-wrapper {
                    
                    .button {
                        
                    }

                }

            }

        }

        .expectations {
            
            .heading {
                
            }

            .columns-wrapper {
                
                .heading {
                    
                }

                .content {
                    
                }

                .image {
                    
                }

                .icon-list-wrapper {
                    
                    .icon {
                        
                    }

                    .content {
                        
                    }

                }

            }

        }

    }

}