.panel-animal-stories {

    .heading {
        
    }

    .stories {
        
        .story {
            
            .icon {
                
            }

            .heading {
                
            }

            .content {
                
            }

            .image {
                
            }

            .video {
                
            }

            .star-position {
                
            }

        }

    }

}