.panel-media {

    .columns {
        
    }

    .boxes {
        
        .box {
            
            .heading {
                
            }

            .content {
                
            }

            .button {
                
            }

            .image {
                
            }

            .video {
                
            }

            .icon {
                
            }

        }

    }

    .star-position {
        
    }

    .leaf-position {
        
    }

}