.panel-two-column-content {
    
    .heading {
        margin-bottom: 40px;
    }
    
    .container > .heading:not(:first-child) {
        margin-top: 80px;
    }
    
    .columns {
        display: grid;
        gap: 40px;
        
        @include mq('desktop') {
            grid-template-columns: 1fr 1fr;
            gap: 64px;
        }
    }

}