.panel-faqs {

    .heading {
        
    }

    .button {
        
    }

    .faqs {
        
        .faq {
            
            .heading {
                
            }

            .content {
                
            }

        }

    }

}