.panel-code-embed {
        
	/* Beyonk */

    booking-form {
		text-align: center;
		display: block;
		max-width: 800px;
		margin: 0 auto;
        
        @include mq('desktop') {
            padding: 66px 100px;
			background: transparent url('../images/beyonk.png') center center / 100% 100% no-repeat;
        }
    }
}