.panel-media {
    
    .container:has(.box-columns-full) {
        padding-inline: 0;
        margin-bottom: 128px;
    } 

    .boxes {
        display: grid;
        gap: 40px;
        
        @include mq('desktop') {
            gap: 80px;
        }
        
        &.box-columns-2 {
            
            @include mq('tablet') {
                grid-template-columns: 1fr 1fr;
            }
            
            &.boxes-odd {
                .box:last-child {
                    grid-column: 1 / -1;
                }
            }
        }
        
        .box {
            position: relative;
            z-index: 0;
            
            .inner {
                display: grid;
                place-items: center;
                position: relative;
                z-index: 10;
                padding: 54px 30px;
                min-height: 300px;
                
                @include mq('desktop') {
                    padding: 120px;
                    min-height: 573px;
                }
            }
            
            .heading,
            .content {
                color: $off-white;
            }
            
            .button {
                text-align: center;
                font-size: 18px;
                line-height: 39px;
                letter-spacing: 4.75px;
                text-transform: lowercase;
                padding: 13px 35px;
                min-height: 65px;
                
                @include mq('desktop') {
                    font-size: 23px;
                    line-height: 39px;
                    letter-spacing: 5.75px;
                }
            }
            
            .frame {
                position: absolute;
                inset: 0;
                width: 100%;
                
                picture,
                img,
                video {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            &:has(.icon) {
                
                @include mq('desktop') {
                    margin-top: 210px;  
                }
                
                .icon {
                    position: absolute;
                    display: none;
                } 
                
                &:first-child {
                    
                    @include mq('desktop') {
                        display: block;
                    }
                    
                    .icon {
                        top: -210px;
                        left: 30px;
                        width: 313px;
                        height: 313px;
                        z-index: -1;
                        
                        @include mq('desktop') {
                            display: block;
                        }
                    }
                }
                
                &:nth-child(2) {
                    
                   .icon {
                       top: -156px;
                       right: 117px;
                       width: 130px;
                       height: 166px;
                       filter: drop-shadow(0 0 205px $light-gold);
                       z-index: 2;
                       
                       @include mq('desktop') {
                           display: block;
                       }
                    }
                }
            }
            
            &.box-overlay {
                
                .inner {
                    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 9.22%, rgba(0, 0, 0, 0.75) 59.82%);
                    background-blend-mode: darken;
                    place-items: flex-start;
                    
                    .heading {
                        max-width: 760px;
                    }
                    
                    .content {
                        margin-top: 30px;
                        max-width: 800px;
                        
                        @include mq('tablet') {
                            margin-top: 10px;
                        }
                    }
                    
                    .button {
                        margin-top: 30px;
                        
                        @include mq('desktop') {
                            margin-top: 45px;
                        }
                    }
                }
            }
            
            &.box-no-overlay {
                
                .button {
                    background-color: $dark-green;
                    color: $light-gold;
                    border: none;
                }
            }
        }
    }

    .star-position {
        
    }

    .leaf-position {
        
    }
    
    .divider {
        margin-top: 60px;
    }

}