.panel-hero {
	--mobile-padding-top: 200px;
	--desktop-margin-bottom: 172px;
	--desktop-padding-top: 419px;
	
    position: relative;
    text-align: center;
    
    .sub-heading,
    .heading {
        color: $off-white;    
    }
    
    .sub-heading {
        margin-bottom: 10px;
        
        @include mq('desktop') {
            margin-bottom: 32px;
        }
    }

    .heading {
        text-shadow: 0 0 105px $light-gold;
    }

    .button {
        margin-top: 80px;
        
        @include mq('desktop') {
            margin-top: 53px;
			margin-bottom: 110px;
        }
        
    }
    
    .divider {
        margin-top: 90px;
        
        @include mq('desktop') {
            margin-top: 70px;
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 77px;
        height: 86px;
        top: 0;
        left: 0;
        background: transparent url('../svg/star-1.svg') 0 0 / contain no-repeat;
        
        @include mq('desktop') {
            top: 92px;
            width: 292px;
            height: 328px;
        }
    }

    &::after {
        top: 0;
        right: 96px;
        left: auto;
        width: 199px;
        height: 224px;
        background-image: url('../svg/star-2.svg');
        
        @include mq('desktop', 'max') {
           display: none;
        }
    }
    
    &.panel-left-star-position-middle {
        &::before {
            top: calc(50% - 164px);
            bottom: auto;
        }
    }
    
    &.panel-left-star-position-bottom {
        &::before {
            top: auto;
            bottom: 0;
        }
    }
    
    &.panel-right-star-position-middle {
        &::after {
            top: calc(50% - 112px);
            bottom: auto;
        }
    }
    
    &.panel-right-star-position-bottom {
        &::after {
            top: auto;
            bottom: 0;
            right: -10px;
            width: 353px;
            height: 397px;
        }
    }
}